body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f9fa;
    padding: 0;
    margin: 20px;
}

h1{
    margin-top: 0%;
    color: #343a40;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;

}
form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
fieldset{
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
legend{
    font-size: 1.5em;
    color: #343a40;
    text-align: left;
    font-weight: bold;
}
label{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #343a40;
    font-weight: bold;
}
input,textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 1.2em;
}
button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    font-weight: bold;

}
button:hover{
    background-color: #45a049;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    color: #fff;
    text-decoration: none;
    outline: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#resumeOutput{
    margin: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width:600px;
}
    
#resumeOutput h2{
    color: #343a40;
}
.profilepicture{
    display: block;
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 50%;
    box-shadow: #343a40;
    width: 200px;
    height: 200px;
    object-fit: cover;
}